.Students{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    h1{
        text-align: center;
        font-size: 25px;
        color: rgb(22, 22, 22);
    }
    .students__row{
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px 0;
        .students__card{
            width:  calc(25% - 20px);
            height: 250px;
            text-align: center;
            display: flex;
            align-items: end;
            h2{
                width: 100%;
                background-color: #c32728;
                color: white;
                padding: 10px;
            }
        }
    }
}